/* TODO (Task 7): dimensiuni și layout pentru #map și #sidebar */
#app {
  display: flex;
  height: 100vh;
}

#map {
  flex: 3;
  /* TODO: stil pentru hartă când adaug Leaflet */
}

#sidebar {
  flex: 1;
  padding: 1rem;
  border-left: 1px solid #ddd;
}
